<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
	backupGlobals="true"
	backupStaticAttributes="false"
	beStrictAboutTestsThatDoNotTestAnything="true"
	bootstrap="bootstrap.php"
	checkForUnintentionallyCoveredCode="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	strict="true"
	verbose="true">
	
	<testsuites>
		<testsuite name="all">
			<file>tests/BasicTest.php</file>
			<file>tests/ClientTest.php</file>
			<file>tests/ColorTest.php</file>
			<file>tests/ConsoleTest.php</file>
			<file>tests/CronjobTest.php</file>
			<file>tests/HttpUriTest.php</file>
			<file>tests/KademliaBucketTest.php</file>
			<file>tests/KademliaNodeTest.php</file>
			<!--<file>tests/KademliaTableTest.php</file>//-->
			<file>tests/LogTest.php</file>
			<file>tests/MsgTest.php</file>
			<file>tests/NodesNewDbTest.php</file>
			<file>tests/SimpleTableTest.php</file>
			<file>tests/SslTest.php</file>
			<file>tests/TalkRequestTest.php</file>
			<file>tests/TcpClientTest.php</file>
			<file>tests/TcpUriTest.php</file>
			<file>tests/ThreadTest.php</file>
			<file>tests/UuidTest.php</file>
			<file>tests/YamlStorageTest.php</file>
		</testsuite>
		<testsuite name="dht">
			<file>tests/KademliaBucketTest.php</file>
			<file>tests/KademliaNodeTest.php</file>
			<!--<file>tests/KademliaTableTest.php</file>//-->
			<file>tests/SimpleTableTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="false" processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>